body {
	background-color: #F7F7F7;
}

#login-header{
	 background: rgb(0, 141, 68); 
	 padding: 10px; 
	 border-top-left-radius: 5px; 
	 border-top-right-radius: 5px;
	 margin-bottom: 10px;
}

#app-name{
	color: white;
	font-family: 'verdana';
}

#user-logo {
	padding: 5px 0;
}

.btn-login {
	background: rgb(0, 141, 68);
	color: white;
}