<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<Configuration status="INFO" name="example-config">
	<Properties>
		<Property name="PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{1} - %msg%n</Property>
		<Property name="LOG_DIR">${sys:catalina.base}/logs</Property>
	</Properties>
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="${PATTERN}" />
		</Console>

		<RollingFile name="rollingFile"
			fileName="${LOG_DIR}/umx.log"
			filePattern="${LOG_DIR}/umx.%d{dd-MMM}.log.gz"
			ignoreExceptions="false">
			<PatternLayout>
				<Pattern>${PATTERN}</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval= "1" />
			</Policies>
			<DefaultRolloverStrategy max="31" />
		</RollingFile>

	</Appenders>
	<Loggers>
		<Root level="error">
			<AppenderRef ref="STDOUT" />
		</Root>

		<Logger name="sg" level="debug" additivity="false">
			<AppenderRef ref="STDOUT" />
			<appenderRef ref="rollingFile" />
		</Logger>
	</Loggers>
</Configuration>